.breadcrumb-field {
    background: #eaded7;
    padding: 3rem 0;
}
.breadcrumb-field a {
    color: #795744;
    font-size: 2rem;
    padding-right: 0.5rem;
    font-weight: bold;
}
.breadcrumb-field a:hover{
    text-decoration: none;
    color: #795744;
}
.breadcrumb-field span{
    color: #000000;
    font-size: 2rem;
    padding-right: 0.5rem;
    font-weight: bold;
}

@media (min-width: 768px) and (max-width: 1199px){

}